.v-main .markdown {

    max-width: 1000px;
    margin: 0 2rem;
    color: #333;

    ul {
        list-style: initial;
    }

    ul, ol {
        margin-left: 2rem;
        margin-bottom: 1rem !important;
        p {
            margin-left: 0;
        }

        ul {
            margin-left: 0;
        }
    }

    code {
        display: block;
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 0.8rem;
        border: 1px solid #CCC;
        background-color: #F6F6F6;
        color: #900;
    }

    h1 { font-size: 1.5rem; margin-left: 0.0rem; margin-top: 2.0rem; }
    h2 { font-size: 1.3rem; margin-left: 0.3rem; margin-top: 1.7rem; }
    h3 { font-size: 1.1rem; margin-left: 0.6rem; margin-top: 1.1rem; }
    h4 { font-size: 1.0rem; margin-left: 0.9rem; margin-top: 1.0rem; }
    h5 { font-size: 0.9rem; margin-left: 1.0rem; margin-top: 0.9rem; }
    p  { font-size: 1.0rem; margin-left: 1.2rem; }

    h1:first-child {
        border-bottom: 1px solid #DDD;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h1:first-child + * {
        margin-top: 1rem;
    }

    h2 + h3 {
        margin-top: 1rem;
    }

    table.barcodes {
        width: 100%;
        margin-left: 1.2rem;
    }

    img {
        vertical-align: top;
        margin: 0 1rem 1rem 1rem;
        border: 1px solid #ccc;
    }

    dl {
        margin-left: 1.2rem;
        margin-bottom: 1rem;
        dt {
            font-weight: bold;
        }
        dd {
            margin-left: 1rem;
            margin-bottom: 0.5rem;
        }
    }

    span.spacer100 {
        display: inline-block;
        width: 100px;
    }

    .warning {
        color: red;
        background-color: initial !important;
    }

    .smallwarning {
        color: #F46700;
    }

    .green {
        color: green;
        background-color: initial !important;
    }

    a {
        color: blue !important;
    }

    .three4 {
        width: 75%;
        height: 75%;
    }

    .half {
        width: 50%;
        height: 50%;
    }

    .inset {
        margin-left: 3rem;
    }
}

@media print {
    .container-fluid {
        margin: 0;
    }
}

