$headerfill: #4682b4;
$headertext: white;
$titlesfill: #ccc;
$titlestext: black;

$liveheaderfill: #29608e;
$liveheadertext: white;
$livetitlesfill: #4598dd;
$livetitlestext: white;

$couldHaveFill: #EDD;
$couldHaveText: #E77;

$improvedFill: #EEF;
$improvedText: #99E;

$highlightFill: #DDD;
$generalBorderColor: #CCC;


html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

table.live {
    width: 100%;
    border-collapse: collapse;
    padding: 0 0.3rem;
    vertical-align: top;

    tr, td {
        white-space: nowrap;
        border: 1px solid $generalBorderColor;
    }

    td.limit {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    tr.couldhave td {
        background: $couldHaveFill;
        color: $couldHaveText;
        font-weight: bold;
        font-size: 110%;
    }

    tr.improvedon td {
        background: $improvedFill;
        color: $improvedText;
        font-weight: bold;
        font-size: 110%;
    }

    tr.highlight td {
        background: $highlightFill;
        font-weight: bold;
        font-size: 110%;
    }

    span.change {
        font-size: 80%;
    }

    tr.head th {
        text-align: center;
        font-weight: bold;
        background-color: $liveheaderfill;
        border-color: $liveheaderfill;
        color: $liveheadertext;
    }
    tr.subhead th {
        text-align: center;
        font-weight: bold;
        background-color: $livetitlesfill;
        border-color: $livetitlesfill;
        color: $livetitlestext;
    }
}

table.classresults {
    margin: 0px auto;
    border-collapse: collapse;

    tbody tr.mainentrantrow {
        border-top: 1px solid $generalBorderColor;
    }
    tbody tr:last-child {
        border-bottom: 1px solid $generalBorderColor;
        td {
            padding-bottom: 2rem;
            @media print {
                padding-bottom: 3rem;
            }
        }
    }

    tr.head th {
        background-color: $headerfill;
        border-color: $headerfill;
        color: $headertext;
        text-align: left;
        font-weight: 500;
        padding-left: 0.6rem;
        padding-right: 0.2rem;
    }

    tr.subhead th {
        background-color: $titlesfill;
        border-color: $titlesfill;
        color: $titlestext;
        text-align: center;
        padding: 0.1rem 0.3rem;
        font-size: 90%;
    }

    tr.missingmin td { // haven't met championship min
    	color: #ccc;
    }

    .entrant {
        .block {
            display: flex;
            flex-wrap: wrap;
            column-gap: 5px;
            .num {
                font-weight: bold;
                flex-basis: 2.3rem;
            }
            .name {
                white-space: nowrap;
            }
            .desc {
                color: grey;
                flex-basis: 100%;
                font-size: 90%;
            }
        }
    }

    td {
        padding: 0.2rem 0.5rem;
        &.trophy, &.sort, &.bestnet {
            font-weight: bold;
        }

        &.run, &.points, &.attend {
            text-align: center;
        }

        &.bestnet .net {
            text-decoration: underline;
        }

        &.drop {
            text-decoration: line-through;
            color: #BBB;
        }

        span {
            &.raw, &.net {
                display: block;
                white-space: nowrap;
            }
            &.raw {
                margin-top: 3px;
                font-size: 90%;
                color: #777;
            }
            &.reaction {
                display: block;
                font-size: 80%;
            }
        }
    }
}

table.champ {
    margin-top: 1rem;
}

// Borders to separate multiple tables of toptime data in one table
table.toptimes {
	td.pos {
		border-left: 1px solid $generalBorderColor;
	}
	td.time {
		border-right: 1px solid $generalBorderColor;
		font-weight: bold;
	}
}

// Some extra borders for printout
table.dialins {
	td {
		border-top: 1px solid $generalBorderColor;
	}
}

// Special table for challenge report
table.challengeround {
    margin: 1px;
    td {
        white-space: nowrap;
    }
    tr.head th {
        font-size: 0.8rem;
    }
	tr.winner td {
	    background: lighten(adjust-hue($liveheaderfill, 10), 40%);
	}
	span.dial {
		font-weight: bold;
        float: right;
	}
	td.result {
	    text-align: center;
	    font-size: 1.2em;
	}
}