.v-toolbar__content {
    justify-content: center;
    .v-text-field {
        max-width: 10rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .v-text-field.v-text-field--solo.v-input--dense > .v-input__control {
        min-height: 30px;
    }
    .btitle, .bdesc {
        font-weight: bold;
        font-size: 130%;
    }
}

.v-toolbar__extension {
    justify-content: center;
    @media (min-width: 700px) {
        gap: 15px;
    }
}
